# {{ project_name }}

{{ project_description }}



## Installation

```bash
pip install {{ project_name }}
```

## License

[{{ license }}](https://github.com/{{ organization }}/{{ project_name }}/blob/master/LICENSE)
